/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,900&display=swap');
/* default style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
:root{
    --body-color:#f5f5f5;
    --nav-color:#fff;
    --side-nav:#fff;
    --text-color:#48455A;
    --search-bar:#f5f5f5;
    --search-text:#48455A;
    --logo-color: #E52EFB;
}
body{
    background: var(--body-color);
    height: 100vh;
}
body.dark{
    --body-color:#28282b;
    --nav-color:#474552;
    --side-nav:#48455A;
    --text-color:#f5f5f5;
    --search-bar:#48455A;
}

/* nav design style end */
nav{
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    height: 75px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}
nav .nav-bar{
    height: 100%;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .nav-bar .logo-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu .logo-toggle{
    display: none;
}
nav .nav-bar .sidebarOpen{
    color: var(--logo-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}
nav .nav-bar .logo a{
    font-size: 25px;
    font-weight: 500;
    color: var(--logo-color);
    text-decoration: none;
}
.nav-bar .nav-link{
    display: flex;
    align-items: center;
}
.nav-bar .nav-link li{
    margin: 0 5px;
    list-style: none;
}
.nav-bar .nav-link li a{
    position: relative;
    font-size: 18px;
    font-weight: 400;
    color: var(--text-color);
    padding: 10px;
    text-decoration: none;
}
.nav-bar .nav-link li a::before{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}
.nav-bar .nav-link li:hover a::before{
    opacity: 1;
}
.nav-bar .darkLight-searchBox{
    display: flex;
    align-items: center;
}
.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    margin: 0 5px;
}
.dark-light i,
.searchToggle i{
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all .3s ease;
}
.dark-light i.sun{
    opacity: 0;
    pointer-events: none;
}
.dark-light.active i.sun{
    opacity: 1;
    pointer-events: auto;
}
.dark-light.active i.moon{
    opacity: 0;
    pointer-events: none;
}
.searchToggle i.cancel{
    opacity: 0;
    pointer-events: none;
}
.searchToggle.active i.cancel{
    opacity: 1;
    pointer-events: auto;
}
.searchToggle.active i.search{
    opacity: 0;
    pointer-events: none;
}
.search-box{
    position: relative;
}
.search-box .search-field{
    position: absolute;
    bottom: -80px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: var(--text-color);
    border: 3px;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease;
}
.searchToggle.active ~ .search-field{
    bottom: -75px;
    opacity: 1;
    pointer-events: auto;
}
.search-field::before{
    content: '';
    position: absolute;
    right: 15px;
    top: -5px;
    height: 12px;
    width: 12px;
    background-color: var(--logo-color);
    transform: rotate(45deg);
    z-index: -1;
}
.search-field input{
    height: 100%;
    width: 100%;
    padding: 0 30px 0 5px;
    outline: none;
    border: 2px solid var(--logo-color);
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    background-color: var(--search-bar);
}
.search-field i{
    position: absolute;
    color: var(--text-color);
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}
/* nav design style end */

/* home slider style start */
.carousel-inner .carousel-item{
    height: 400px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 40px;
    width: 40px;
    background-size: 100%, 100%;
    border-radius: 50%;
    background-image: none;
    background: var(--logo-color);
}

.carousel-control-next-icon:after
{
    content: '>';
    font-size: 30px;
    color: black;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 30px;
    color: black;
}
  
/* home slider style end */

/* source code section style start */
.categories-box{
    position: relative;
    border-radius: 10px;
}
.categories-box .card{
    border-radius: 10px;
}
.categories-box .card img{
    border-radius: 10px;
    cursor: pointer;
}
.categories-overlay {
    border-radius:10px;
    opacity: .5;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--logo-color);
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: 1s ease;
    transition: 1s ease;
}
.categories-view:hover .categories-overlay {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}        
.categories-link {
    cursor: pointer;
    padding:5px;
    border-radius:5px;
    background: var(--body-color);
    color: var(--text-color);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.category-name{
    color: var(--text-color);
    text-transform: capitalize;
}
/* source code section style end */

/* blog post section style start */
.blog-post{
    margin-bottom: 30px;
}
.blog-image{
    height: 200px;
    position: relative;
    overflow: hidden;
}
.blog-image img{
    border-radius: 10px;
    width: 100%;
    height: 180px;
    -webkit-box-shadow: 0px 0px 0px 1px rgb(0 0 0 / 10%);
    box-shadow: 5px;
}
.blog-content{
    padding: 0px 20px;
    color: var(--text-color);
}
.blog-content ul li i{
    font-size: 24px;
}
.blog-content .blog-details{
    padding: 0 !important;
}
.blog-details{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 12px;
}
.blog-details li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.blog-details li i{
    margin-right: 8px;
}
/* blog post section style end */

/* service-provide section style start */
.service-provide{
    margin: 35px 10px 20px;
}
.service-provide-title{
    text-align: center;
    margin: 25px 0 100px;
}
.service-provide-title .title{
    font-size: 48px;
    line-height: 58px;
    font-weight: 700px;
    text-transform: capitalize;
    color: var(--text-color);
}
.service-containt{
    margin-bottom: 100px;
    position: relative;
}
.service-provide-body{
    padding: 10px;
}
.service-containt .service-icon{
    position: absolute;
    left: 30px;
    top: -50px; 
}
.service-icon i{   
    width: 100px;
    height: 80px;
    background-color: var(--logo-color);
    text-align: center;
    line-height: 80px;
    font-size: 40px;
    border-radius: 15px;
    color: #fff;
    border-top-left-radius: 0;
}
.service-body{
    padding: 30px;
    border-radius: 20px;
    background-color: #aaaaad42;
    color: var(--text-color);
}
.service-title{
    padding-top: 15px;
    text-transform: capitalize;
}
.serveice-read-more a{
    text-decoration: none;
    font-size: 18px;
}
/* service-provide section style end */

/* countdown section style start */
.countdown{
    background-color: #aaaaad42;
    clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 100%);
    padding-top: 200px;
    margin-top: -100px;
    padding-bottom: 70px;
    text-align: center;
}
.countdown-wrap{
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 20px;
    z-index: 0;
}
.countdown-number i{
    background-color: var(--logo-color) !important;
    padding: 20px;
    border-radius: 10px;
    font-size: 48px !important;
    font-weight: 600 !important;
    color: var(--body-color) !important;
}
/* countdown section style end */

/* footer section style start */
.footer-section{
    margin-top: 24px;
}
.about_us_widget h4{
    text-align: center;
    color: var(--text-color);
    font-weight: 600;
}
.about-content{
    padding: 15px;
    color: var(--text-color);
    font-size: 18px;
}
.about_us_widget .useful-link li{
    margin-top: 15px;
    list-style: none;
}
.about_us_widget .useful-link li a{
    text-decoration: none;
    color: var(--text-color);
    padding: 15px 0;
    font-size: 18px;
}
.single-recent-post-item{
    display: flex;
}
.thumb{
    height: 70px;
    width: 100px;
}
.thumb img{
    width: 100%;
    height: 100%;
}
.single-recent-post-item .content{
    margin: 10px;
}
.content .title{
    margin-bottom: 5px !important;
}
.content .title a{
    text-decoration: none;
    font-size: 16px;
    color: var(--text-color);
}
.single-info-item{
    margin-bottom: 20px;
    list-style: none;
}
.single-info-item .icon{
    font-size: 18px;
    color: var(--text-color);
}
.single-info-item .details{
    font-size: 18px;
    color: var(--text-color);
}
.single-info-item .icon i{
    font-size: 24px;
    color: var(--logo-color);
    margin-right: 10px;
}
/* footer section style end */